body{
    background-color: deepskyblue;
}

h1 {
    color: blue;
}

h2 {
    color:darkblue;
}

.container {
    text-align: center;
    margin: auto;
   
}
.dark-mode {
    background-color: black;
    color: white;
  }
ul {
    list-style-type: none;
    padding-left: 0;
}
.container1{
display: flex;
justify-content: space-between;
align-items: center;


}
.c1{
    width: 70%;
}
.c2{
    width: 30%;
}
.container1 h1{
margin-right: 50%;
}
.container1 button{
    align-items: center;
}

.container2, .container3 {
    border: navy;
    border-width: 2px ;
    border-style: dotted;
    
}

.container3 {
    margin-top:35px;
}

 .Enlight {   
    background-color: cornflowerblue;
    color: whitesmoke;
    
}



.calc {
    align-content: center;
    display:contents;
    justify-content: center;
}

#circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgb(156, 33, 119);
    margin: auto;
  }

  